{{- if .Values.enableEcho}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: echo
  name: echo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: echo
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: echo
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - command:
            - dotnet
            - /app/echo_server/EchoEngine.dll
          workingDir: /app/echo_server
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: {{ .Values.environment}}
            - name: ASPNETCORE_Kestrel__Endpoints__Grpc__Url
              value: http://*:80
            - name: ASPNETCORE_Kestrel__Endpoints__Grpc__Protocols
              value: Http2
            - name: ASPNETCORE_ConnectionStrings__TranslationPlatformApi
              value: http://serval-api:81
            - name: ASPNETCORE_ConnectionStrings__WordAlignmentPlatformApi
              value: http://serval-api:81
              {{- template "secrets.bugsnag" . }}
          image: {{ .Values.servalImage}}
          imagePullPolicy: "Always"
          name: echo
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "400Mi"
              cpu: "100m"
            requests:
              memory: "400Mi"
              cpu: "100m"
          volumeMounts:
            - mountPath: /var/lib/serval
              name: serval-mount
              readOnly: true
      hostname: echo
      restartPolicy: Always
      volumes:
        - name: serval-mount
          persistentVolumeClaim:
            claimName: serval-claim
status: {}
{{- end }}