apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: machine-engine
  name: machine-engine
spec:
  replicas: 1
  selector:
    matchLabels:
      app: machine-engine
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: machine-engine
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - command:
            - dotnet
            - /app/machine_engine_server/Serval.Machine.EngineServer.dll
          workingDir: /app/machine_engine_server
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: {{ .Values.environment }}
            - name: ASPNETCORE_Kestrel__Endpoints__Grpc__Url
              value: http://*:80
            - name: ASPNETCORE_Kestrel__Endpoints__Grpc__Protocols
              value: Http2
              {{- template "secrets.mongodb" . }}
            - name: ASPNETCORE_ConnectionStrings__Hangfire
              value: $(mongodb_connection)machine_jobs
            - name: ASPNETCORE_ConnectionStrings__Mongo
              value: $(mongodb_connection)machine
            - name: ASPNETCORE_ConnectionStrings__Serval
              value: http://serval-api:81
              {{- template "secrets.clearml" . }}
              {{- template "secrets.s3" . }}
              {{- template "secrets.bugsnag" . }}
          image: {{ .Values.servalImage}}
          imagePullPolicy: "Always"
          name: machine-engine
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "4500Mi"
              cpu: "500m"
            requests:
              memory: "4500Mi"
              cpu: "500m"
          volumeMounts:
            - mountPath: /var/lib/machine
              name: machine-mount
            - mountPath: /var/lib/serval
              name: serval-mount
              readOnly: true
            - mountPath: /root/.aspnet/DataProtection-Keys
              name: server-keys
      hostname: machine-engine
      dnsConfig:
        nameservers:
          - 8.8.8.8
          - 208.67.222.222
      restartPolicy: Always
      volumes:
        - name: machine-mount
          persistentVolumeClaim:
            claimName: machine-claim
        - name: serval-mount
          persistentVolumeClaim:
            claimName: serval-claim
        - name: server-keys
          persistentVolumeClaim:
            claimName: keys-claim
status: {}
