apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: machine-job
  name: machine-job
spec:
  replicas: 1
  selector:
    matchLabels:
      app: machine-job
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: machine-job
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - command:
            - dotnet
            - /app/machine_job_server/Serval.Machine.JobServer.dll
          workingDir: /app/machine_job_server
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: {{ .Values.environment}}
            - name: ASPNETCORE_Kestrel__Endpoints__Grpc__Url
              value: http://*:80
            - name: ASPNETCORE_Kestrel__Endpoints__Grpc__Protocols
              value: Http2
              {{- template "secrets.mongodb" . }}
            - name: ASPNETCORE_ConnectionStrings__Hangfire
              value: $(mongodb_connection)machine_jobs
            - name: ASPNETCORE_ConnectionStrings__Mongo
              value: $(mongodb_connection)machine
            - name: ASPNETCORE_ConnectionStrings__Serval
              value: http://serval-api:81
            - name: Bugsnag__ReleaseStage
              value: {{ .Values.bugsnagReleaseStage}}
              {{- template "secrets.clearml" . }}
              {{- template "secrets.s3" . }}
          image: {{ .Values.servalImage}}
          imagePullPolicy: "Always"
          name: machine-job
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "3500Mi"
            requests:
              memory: "3500Mi"
              cpu: "0.7"
          volumeMounts:
            - mountPath: /var/lib/machine
              name: machine-mount
            - mountPath: /var/lib/serval
              name: serval-mount
              readOnly: true
      hostname: machine-job
      dnsConfig:
        nameservers:
          - 8.8.8.8
          - 208.67.222.222
      restartPolicy: Always
      volumes:
        - name: machine-mount
          persistentVolumeClaim:
            claimName: machine-claim
        - name: serval-mount
          persistentVolumeClaim:
            claimName: serval-claim
status: {}
