{{- define "secrets.clearml" }}
            - name: ClearML__ApiServer
              value: https://api.sil.hosted.allegro.ai
            - name: ClearML__Project
              value: {{ .Values.externalHost}}
            - name: BuildJob__ClearML__0__Queue
              value: {{ .Values.ClearMLQueue}}
            - name: BuildJob__ClearML__0__DockerImage
              value: {{ .Values.ClearMLDockerImage}}
            - name: BuildJob__ClearML__1__Queue
              value: {{ .Values.ClearMLQueue}}.cpu_only
            - name: BuildJob__ClearML__1__DockerImage
              value: {{ .Values.ClearMLDockerImage}}.cpu_only
            - name: ClearML__AccessKey
              valueFrom:
                secretKeyRef:
                  name: aqua-ml-data
                  key: ClearML_AccessKey
            - name: ClearML__SecretKey
              valueFrom:
                secretKeyRef:
                  name: aqua-ml-data
                  key: ClearML_SecretKey
{{- end }}
{{- define "secrets.mongodb" }}
            - name: mongodb_connection_part
              valueFrom:
                secretKeyRef:
                  name: aqua-ml-data
                  key: mongodb_connection
            - name: mongodb_connection
              value: $(mongodb_connection_part){{ .Values.MongoConnectionPrefix }}
{{- end }}
{{- define "secrets.s3" }}
            - name: SharedFile__Uri
              value: {{ .Values.SharedFileLocation}}
            - name: SharedFile__S3AccessKeyId
              valueFrom:
                secretKeyRef:
                  name: aqua-ml-data
                  key: AWS_ACCESS_KEY_ID
            - name: SharedFile__S3SecretAccessKey
              valueFrom:
                secretKeyRef:
                  name: aqua-ml-data
                  key: AWS_SECRET_ACCESS_KEY
{{- end }}
{{- define "secrets.bugsnag" }}
            - name: Bugsnag__ReleaseStage
              value: {{ .Values.bugsnagReleaseStage}}
{{- end }}