apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: serval-api
  name: serval-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: serval-api
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: serval-api
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - command:
            - dotnet
            - /app/api_server/Serval.ApiServer.dll
          workingDir: /app/api_server
          env:
            - name: Auth__Domain
              value: {{ .Values.auth0Domain}}
            - name: ASPNETCORE_ENVIRONMENT
              value: {{ .Values.environment}}
            - name: ASPNETCORE_DeploymentVersion
              value: {{ default "undefined" .Values.deploymentVersion}}
            - name: ASPNETCORE_Kestrel__Endpoints__Http__Url
              value: http://*:80
            - name: ASPNETCORE_Kestrel__Endpoints__Http2__Url
              value: http://*:81
            - name: ASPNETCORE_Kestrel__Endpoints__Http2__Protocols
              value: Http2
              {{- template "secrets.mongodb" . }}
            - name: ASPNETCORE_ConnectionStrings__Hangfire
              value: $(mongodb_connection)serval_jobs
            - name: ASPNETCORE_ConnectionStrings__Mongo
              value: $(mongodb_connection)serval
            - name: ASPNETCORE_Translation__Engines__0__Type
              value: Echo
            - name: ASPNETCORE_Translation__Engines__0__Address
              value: http://echo
            - name: ASPNETCORE_Translation__Engines__1__Type
              value: SmtTransfer
            - name: ASPNETCORE_Translation__Engines__1__Address
              value: http://machine-engine
            - name: ASPNETCORE_Translation__Engines__2__Type
              value: Nmt
            - name: ASPNETCORE_Translation__Engines__2__Address
              value: http://machine-engine
            - name: ASPNETCORE_WordAlignment__Engines__0__Type
              value: EchoWordAlignment
            - name: ASPNETCORE_WordAlignment__Engines__0__Address
              value: http://echo
            - name: ASPNETCORE_WordAlignment__Engines__1__Type
              value: Statistical
            - name: ASPNETCORE_WordAlignment__Engines__1__Address
              value: http://machine-engine
            - name: Bugsnag__ReleaseStage
              value: {{ .Values.bugsnagReleaseStage}}
          image: {{ .Values.servalImage}}
          imagePullPolicy: "Always"
          name: serval-api
          ports:
            - containerPort: 80
            - containerPort: 81
          resources:
            limits:
              memory: "400Mi"
              cpu: "500m"
            requests:
              memory: "400Mi"
              cpu: "500m"
          volumeMounts:
            - mountPath: /var/lib/serval
              name: serval-mount
            - mountPath: /root/.aspnet/DataProtection-Keys
              name: server-keys
      hostname: serval-api
      dnsConfig:
        nameservers:
          - 8.8.8.8
          - 208.67.222.222
      restartPolicy: Always
      volumes:
        - name: serval-mount
          persistentVolumeClaim:
            claimName: serval-claim
        - name: server-keys
          persistentVolumeClaim:
            claimName: keys-claim
status: {}
